body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: rgb(3, 3, 20);
    margin: 0;
    padding: 0;
   /* background-image: url('blockImg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: #4CAF50;
    text-align: center;
}

.intro-text {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.course-details {
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section-title {
    color: #4CAF50;
    margin-bottom: 10px;
}

.course-list {
    list-style-type: circle;
    padding: 10px;
}

.course-list li {
    margin-bottom: 10px;
}

.about-footer {
    text-align: center;
    margin-top: 30px;
}

.home-link {
    color: #66DA26;
    text-decoration: none;
    font-weight: bold;
}
