<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Apie kursą - LedgerField</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <div class="about-container">
        <h1 class="title">Pasinerkite į kriptovaliutų ir blokų grandinės pasaulį: kursas Lietuvos kriptofanams!</h1>
        <p class="intro-text">
            Ar kada susimąstėte, kaip veikia kriptovaliutų magija? Norite suprasti, kas slypi už Bitcoin ir Ethereum pavadinimų? Kviečiame į 15 valandų trukmės kursą, skirtą visiems, besidomintiems kriptovaliutų ir blokų grandinės technologija! Kursas prasidės 2024 metų vasario 5 dieną, pirmadienį, 19:00 valandą Lietuvos laiku ir vyks 5 savaites kiekvieną pirmadienį ir trečiadienį.
        </p>
        <section class="course-details">
            <h2 class="section-title">Ko išmoksite kursų metu?</h2>
            <ul class="course-list">
                <li>Įvadas į kriptovaliutas ir blokų grandine: Susipažinsite su pagrindiniais šių technologijų principais, jų veikimo logika ir poveikiu pasauliui.</li>
                <li>Bitcoin ir Ethereum: Gilinsimės į populiariausių kriptovaliutų istoriją, technologiją ir ateitį.</li>
                <li>Kriptovaliutų biržos ir piniginės: Sužinosite, kaip saugiai pirkti, parduoti ir laikyti kriptovaliutas, pasirinkdami tinkamas platformas.</li>
                <li>Prekybos pagrindai: Išmoksite pagrindinių kriptovaliutų prekybos strategijų ir principų, kad galėtumėte priimti informuotus sprendimus.</li>
                <li>Saugumas ir rizikos valdymas: Susipažinsite su kibernetinio saugumo principais ir rizikomis kriptovaliutų pasaulyje, bei išmoksite tinkamai jas valdyti.</li>
                <li>Ir dar daug daugiau! Kursas aprėpia daug aktualių ir naudingų temų, tokių kaip NFT, DAO, DeFi ir ateities technologijos.</li>
            </ul>
        </section>
        <section class="course-details">
            <h2 class="section-title">Kurso formatas</h2>
            <ul class="course-list">
                <li>Kursas vyksta nuotoliniu būdu, du kartus per savaitę po 1,5 valandos, 21:00 val. JK laiku (19:00 val. Lietuvos laiku).</li>
                <li>Mokymą sudaro interaktyvios paskaitos, praktiniai užsiėmimai ir diskusijos.</li>
                <li>Visą reikalingą medžiagą gausite kurso platformoje.</li>
            </ul>
        </section>
        <section class="course-details">
            <h2 class="section-title">Kurso kaina</h2>
                <p>Viso kurso kaina tik 65 EUR.</p>
        </section>
        <section class="course-details">
            <h2 class="section-title">Specialūs pasiūlymai</h2>
            <ul class="course-list">
                <li>Pakvieskite draugą kartu dalyvauti kurse ir gaukite 10% nuolaidą abiem!</li>
                <li>Jei po pirmos savaitės nuspręsite, kad kursas jums netinka, grąžinsime visą sumą.</li>
              </ul>
        </section>
        <section class="course-details">
            <h2 class="section-title">Ateities planai</h2>
                <p>Planuojame organizuoti ir daugiau kursų įvairiomis kriptovaliutų ir blokų grandinės temomis. Sekite naujienas!</p>
        </section>
        <section class="course-details">
            <h2 class="section-title">Kodėl verta rinktis šį kursą?</h2>
            <ul class="course-list">
                <li>Suprantama ir aiški mokymų forma: Sudėtinga medžiaga pateikiama lengvai suprantamai ir įdomiai.</li>
                <li>Patyrę dėstytojai: Kursą veda kriptovaliutų srityje dirbantys specialistai, turintys ilgametę patirtį ir žinias.</li>
                <li>Interaktyvi aplinka: Klausimų užduoti galite bet kuriuo metu, o diskusijos su bendrakursiais padės geriau įsisavinti medžiagą.</li>
                <li>Praktiniai įgūdžiai: Kursas ne tik teorinis, bet ir suteikia realius įrankius ir žinias, kuriuos galėsite pritaikyti praktikoje.</li>
              </ul>
              <p>Nesvarbu, ar esate visiškas kriptovaliutų naujokas, ar jau turite šiokių tokių žinių, šis kursas padės jums pakelti savo supratimą į aukštesnį lygį ir atverti duris į šios dinamiškos ir įdomios srities pasaulį.</p>
              <p>Registruokitės jau dabar ir įžengkite į kriptovaliutų ir blokų grandinės ateitį!</p>
        </section>
        <section class="course-details">
            <h2 class="section-title">Atnaujinta informacija apie mokėjimą!</h2>
            <p>Atkreipiame dėmesį, kad kurso mokestį galite sumokėti patogiu bankiniu pavedimu per Revolut programėlę. Tai greitas ir saugus būdas atsiskaityti už kursus.</p>
            <h3>Kaip atlikti mokėjimą:</h3>
            <ol>
              <li>Atsisiųskite Revolut programėlę į savo išmanųjį telefoną.</li>
              <li>Susikurkite nemokamą Revolut paskyrą.</li>
              <li>Programėlėje pasirinkite "Payments" (Mokėjimai) skiltį.</li>
              <li>Spauskite "New" (Naujas) ir pasirinkite "Bank transfer" (Bankinis pavedimas).</li>
              <li>Įveskite gavėjo informaciją:</li>
              <ul>
                  <li>Gavėjo vardas: Vaidas Simkus</li>
                  <li>Gavėjo sąskaitos numeris: GB96 REVO 0099 7005 1103 45</li>
                  <li>BIC/SWIFT: REVOGB21
                </ul>
              <li>Nurodykite mokėjimo paskirtį: "Kriptovaliutų ir blokų grandinės kursas".</li>
              <li>Patvirtinkite mokėjimą.</li>
            </ol>
            <p>Jei turite klausimų dėl apmokėjimo, prašome susisiekti su mumis el. paštu arba Facebook žinute.</p>
            <p>Laukiame Jūsų registracijų!</p>
        </section>
        <footer class="about-footer">
            <a href="{{ url_for('index') }}" class="home-link">Grįžkite atgal į formą</a>
        </footer>
    </div>
</body>
</html>
