<!DOCTYPE html>
<html>
<head>
    <title>New Course Registration</title>
</head>
<body>
    <h1>New Course Registration</h1>
    <p>A new user has registered for the course.</p>
    <ul>
        <li>Name: {{ name }}</li>
        <li>Surname: {{ surname }}</li>
        <li>Date of Birth: {{ date_of_birth }}</li>
        <li>City: {{ city }}</li>
        <li>Country: {{ country }}</li>
        <li>Email: {{ email }}</li>
        <li>Telephone: {{ telephone }}</li>
        <li>Knowledge Level: {{ knowledge }}</li>
        <li>Reference Number: {{ reference_number }}</li>
    </ul>
    <p>Please follow up with the necessary course registration procedures.</p>
</body>
</html>
