<!DOCTYPE html>
<html>
<head>
    <title>Job Opportunities - LedgerField</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jobs.css') }}">
</head>
<body>
    <div class="jobs-container">
        <h1>Tapkite mūsų komandos dalimi</h1>

        <div class="team-intro">
            <h2>Apie mūsų komandą</h2>
            <p>LedgerField komandoje mus visus vienija vienas tikslas: prisidėti prie geresnio pasaulio kūrimo kiekvienam. Siekiame kurti produktyvius santykius ir daryti teigiamą poveikį visose savo veiklos srityse.</p>
            <img src="{{ url_for('static', filename='team.jpg') }}" alt="LedgerField Team" class="team-image">
        </div>

        <div class="vision-statement">
            <h2>Mūsų vizija</h2>
            <p>Mums reikia drąsuolių, pilnų idėjų ir noro veikti, pasiruošusių kibti į naujus projektus ir padėti mums pakeisti pasaulį. Stokit į vieną gretą ir kurkim ateitį drauge!</p>
        </div>

        <div class="job-opportunities">
            <h2>Karjeros galimybės</h2>
            {% for job in job_offers %}
            <div class="job-offer">
                <h3>{{ job.title }}</h3>
                <p>{{ job.short_description }}</p> 
                <button onclick="openModal('{{ job.title|tojson|safe }}', '{{ job.full_description|tojson|safe }}')">Read More</button>
                console.log({{ job.title|tojson|safe }});
                console.log({{ job.full_description|tojson|safe }});

            </div>
            {% else %}
                <p>Currently, there are no open positions.</p>
            {% endfor %}
        </div>
        <footer class="jobs-footer">
            <a href="{{ url_for('index') }}" class="home-link">Grįžti atgal į formą</a>
        </footer>
    </div>
    <div id="jobModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3 id="modalTitle"></h3>
            <p id="modalDescription"></p>
        </div>
    </div>
    <script>
        function openModal(title, description) {
            document.getElementById('modalTitle').innerText = title;
            document.getElementById('modalDescription').innerText = description;
            document.getElementById('jobModal').style.display = 'block';
        }
        
        function closeModal() {
            document.getElementById('jobModal').style.display = 'none';
        }
        </script>
        
</body>
</html>
